body{
    background-color: rgb(243, 241, 255);
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    position: static;
}
.choice{
    font-size: 17px;
    text-align: left;
    color: rgb(14, 90, 141);
    font-weight: bold;
}
#ccomputerScore #humanScore{
    font-weight: bolder;
}
#result{
    font-size: 20px;
    background-color: rgb(129, 118, 190);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
#restartBtn{
    background-color: rgb(35, 107, 189);
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    padding: 15px 35px;
    font-size: 15px;
    display: none;
}
.restart_div{
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(35, 107, 189);
}
.restart_div button:hover{
    cursor: pointer;
}
.scoreboard{
    text-align: center;
    width: 550px;
}

.player_div .images_div {
    border: 6px solid rgb(101, 14, 141);
}
.computer_div .images_div {
    border: 6px solid rgb(14, 90, 141);
}

.images_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    border-radius: 40px;
    width: 600px;
    height: 200px;
}
.images_div p{
    text-align: center;
    font-weight: 550;
    margin-top: -20px;
}
.images_div img{
    width: 100px;
    padding: 30px;
    margin: 0px;
    border-radius: 100px;
}
.player_div .images_div img:hover{
    width: 120px;
    cursor: pointer;
}
.player_div .images_div .rock_div:hover{
    color: rgb(118, 14, 204);
}
.player_div .images_div .paper_div:hover{
    color: rgb(118, 14, 204);
}
.player_div .images_div .scissors_div:hover{
    color: rgb(118, 14, 204);
}